* {
    font-family: "Roboto","Arial",sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
li:hover {
    background-color: aliceblue;
}
.active {
    color:blue;
    font-weight: bold;
}
ul {
    position: fixed;
    height: calc(100% - 32px);
    overflow: auto;
    top: 0;
    margin-bottom: 16px;
}
body > main {
    margin-left: 200px

}
ul {
    padding: initial;
    list-style-type: none;
}
li {
    padding: 10px 5px;
}